<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.footballstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EliminarCategoria"
            android:label="@string/title_activity_eliminar_categoria"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditarCategoria"
            android:label="@string/title_activity_editar_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InserirCategoria"
            android:label="@string/title_activity_inserir_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaginaCategorias"
            android:label="@string/title_activity_pagina_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaterialDesportivoOpcoes"
            android:label="@string/title_activity_material_desportivo_opcoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaterialCasualOpcoes"
            android:label="@string/title_activity_material_casual_opcoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eliminar"
            android:label="@string/title_activity_eliminar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarIntem"
            android:label="@string/title_activity_editar_intem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeusIntens"
            android:label="@string/title_activity_meus_intens"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaterialDesportivo"
            android:label="@string/title_activity_roupa_casual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaterialCasual"
            android:label="@string/title_activity_material_casual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>